{% extends 'base.html.twig' %}

{% block title %}Cart AliEpress
{% endblock %}

{% block body %}
	{{ include("partials/title_section.html.twig",{'name':'Your Cart'}) }}
	<div class="example-wrapper">
		<pre>
        	{{ dump(cart) }}
    	</pre>
	</div>
{% endblock %}
